.modal {
    margin: 10px;
    padding: 10px;
    background-color: #474F7A;
    border-radius: 10px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-englobe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}

button {
    margin: 10px;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    background-color: #FFD0EC;
    color: #474F7A;
    font-weight: bold;
}  

.buttons {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #81689D;
    font-weight: bold;
}

label {
    color: #eee;
    font-size: 24px;
    font-weight: bold;
}

.validated-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFD0EC;
    color: #474F7A;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

@media (max-width: 480px) {
    .modal {
        width: 260px;
    }

    input {
        width: 90%;
        height: 30px;
    }

    label {
        font-size: 15px;
    }

    .validated-checkbox {
        height: 40px;
        font-size: 14px;
    }

    .validated-checkbox input {
        transform: scale(0.6);
    }
}
