ion-content {    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    --ion-background-color: linear-gradient(to bottom, #474F7A, #81689D, #FFD0EC);
}

.main {
    padding: 10px;
    background: #302b63;
    box-shadow: 5px 20px 50px #000;
    overflow: hidden;
    border-radius: 10px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1F2544;

}
.co-label {
    padding: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #eee;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ion-input {
    background: #e0dede;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.placeholder {
    color: #000;
}

ion-label {
    color: #573b8a  ;
    font-weight: bold;
    font-size: large;
    align-items: center;
}


ion-button {
    min-width: 100%;
    margin-top: 20px;
    color: #fff;
    --background: #573b8a;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

ion-button:hover {
    background: #6d44b8;
}

.login {
    width: 400px;
    padding: 20px;
    background: #eee;
    border-radius: 10px; /* Adjusted border-radius */
    transition: .8s ease-in-out;

}

@media screen and (max-width: 600px) {
    .login {
        width: 320px;
    }  
}
