<ion-content>



  <div class="main">
    <div class="co-label">
      <ion-label>Connexion</ion-label>
    </div>
    
    <ion-card class="login">
      <form (submit)="onSubmit()">
        <ion-input type="text" name="username" required placeholder="Username" [(ngModel)]="username"></ion-input>
        <ion-input type="password" name="password" required placeholder="Password" [(ngModel)]="password"></ion-input>
        <ion-button type="submit">Login</ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>

