ion-content {
	margin: 5px;
    --padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    --ion-background-color: linear-gradient(to bottom, #474F7A, #81689D, #FFD0EC);
}

ion-card-header{
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	font-family: 'Jost', sans-serif;
    background: #1F2544;
}

ion-card {
	border-radius: 10px;
    --background: linear-gradient(to bottom, #474F7A, #81689D, #FFD0EC);

}

.button-add {
	display: flex;
	margin-bottom: 10px;
	--background: #81689D;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 10px;
}


ion-list {
	border-radius: 10px;
}

ion-label {
	color: #eee;
	font-size: 24px;
	font-weight: bold;
}

ion-card-title {
	font-weight: bold;
	font-size:24px;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ion-button {
	color: #eee;
	background-color: #0f0c29;
	border-radius: 10px;
	border-color: black;
	border-width: 30px;
	transition: border-radius 0.3s ease;
}

.pres {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	flex-direction: column;
	background-color: #0f0c29;
}

.employee{
	border-radius: 10px;
	--background: #1F2544;
	--border-color: #1F2544;
}

ion-list {
	background-color: #1F2544;
}

