ion-content {
	margin: 5px;
    --padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    --ion-background-color: linear-gradient(to bottom, #474F7A, #81689D, #FFD0EC);
}

ion-card-header{
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	font-family: 'Jost', sans-serif;
    background: #1F2544;
}

ion-card {
    --background:#0f0c29;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.employee-searchbar {
	--background: #81689D;
	border-radius: 10px;
	height: 40px;
}

.button-add {
	// display: flex;
	margin: 10px;
	--background: #81689D;
	border-radius: 10px;
	height: 40px;
}


ion-list {
	border-radius: 10px;
}

ion-label {
	color: #eee;
	font-size: 24px;
	font-weight: bold;
}

ion-card-title {
	font-weight: bold;
	font-size:24px;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ion-button {
	color: #eee;
	background-color: #0f0c29;
	border-radius: 10px;
	border-color: black;
	border-width: 30px;
	transition: border-radius 0.3s ease;
}

.pres {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	flex-direction: column;
	background-color: #0f0c29;
}

.employee{
	background: #1F2544;
	border-bottom: 1px solid #FFD0EC;
	color: #eee;
	margin: 10px;
}

.employee:last-child {
	border-bottom: none;
}

ion-grid {
	background-color: #1F2544;
	border-color: #FFD0EC;
}

.text-delete-button {
	--background: red;
	color: #eee;
	flex: 1;
	margin: 0 5px;
}

.text-modify-button {
	--background: #81689D;
	color: #eee;
	flex: 1;
	margin: 0 5px;
}

.text-buttons {
	display: flex;
	justify-content: space-between;
}



.deco-button {
	--background: red;
	border-radius: 10px;
	font-weight: bold;
}




.modal{
    background-color: #1F2544;
    border-radius: 10px;
	padding: 20px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-button-delete {
	min-width: 50%;
	width: 50%;
	background-color: red;
	margin-top: 10px;
} 

.modal-button-cancel {
	min-width: 50%;
	width: 50%;
	margin-top: 10px;
	background-color: #81689D;
}

.svg-del-button, .svg-modify-button, .svg-deco-button {
	display: none;
}

.employee-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.employee-info > div {
    flex: 1 0 100%;
}

@media (max-width: 480px) {
	.header-content {
		width: 100%;
	}

	.hide-phone-size {
		display: none;
	}

	.text-delete-button, .text-modify-button, .text-deco-button {
		display: none;
	}

	.text-modify-button {
		display: none;
	}

	.svg-buttons {
		display: flex;
		justify-content: space-between;
	}

	.svg-del-button {
		display: flex;
		--background: red;
		border-radius: 10px;
		flex: 1;
		margin: 0 5px;
	}

	.svg-modify-button {
		display: flex;
		border-radius: 10px;
		--background: #81689D;
		flex: 1;
		margin: 0 5px;
	
	}

	.svg-deco-button {
		display: flex;
		--background: red;
		border-radius: 10px;
		font-weight: bold;
	}


	.trash-img {
		border-radius: 10px;
		width: 20px;
		height: 20px;
	}

	.pen-img {
		border-radius: 10px;
		width: 20px;
		height: 20px;
	}

	.logout-img {
		border-radius: 10px;
		width: 20px;
		height: 20px;
	}
	.employee-info {
        flex-direction: row;
    }

    .employee-info > div {
        flex: 1;
    }
}

