<ion-app>
  <ion-content [fullscreen]="true">
      <ion-card-header>
        <div class="header-content">
          <ion-card-title>
            GestEmployees
          </ion-card-title>
          
          <ion-label>
            GestEmployees allows you to manage your employees.
          </ion-label>
        </div>
      </ion-card-header>

      <ion-button class="button-add" (click)="toggleModalAdd()">
        + Add an employee
      </ion-button>

    <ion-card>
      <ion-list>
        <ion-item *ngFor="let employee of employees" class="employee">
          <ion-label>
            <h2>{{ employee.firstname}}</h2><h2>{{ employee.lastname}}</h2><h2>{{ employee.email}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>

    <div class="div-modal-add" [hidden]="!showModalAdd">
      <app-add-employee (refreshEmployees)="refreshEmployees()" (closeModal)="toggleModalAdd()"></app-add-employee>
    </div>
  </ion-content>
</ion-app>