ion-content {
	margin: 5px;
    --padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
	--ion-background-color: #000;
}

ion-card-header{
	width: 100%;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 10px;
	font-family: 'Jost', sans-serif;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

ion-card {
	border-radius: 10px;
	--background: #000;

}

.button-add {
	display: flex;
	margin-bottom: 10px;
}

ion-list {
	border-radius: 10px;
}

ion-label {
	color: #eee;
	font-size: 24px;
	font-weight: bold;
}

ion-card-title {
	font-weight: bold;
	font-size:24px;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ion-button {
	color: #eee;
	background-color: #0f0c29;
	border-radius: 10px;
	border-color: black;
	border-width: 30px;
	transition: border-radius 0.3s ease;
}

.pres {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	flex-direction: column;
	background-color: #0f0c29;
}

.employee{
	border-radius: 10px;
	--background: #302b63;
	// --border-color: #302b63;
}

ion-list {
	background-color: #302b63;
}

